<div ng-repeat="business in businesses">
    {{business.name}}
    <ul>
        <li>{{business.address}}</li>
        <li>{{business.phone}}</li>
        <li>{{business.website}}</li>
        <ul ng-repeat="event in business.events">
            <li>{{event.name}} ({{event.tags}})</li>
            <li>{{event.days}} {{event.start_time}} - {{event.end_time}}</li>
            <ul ng-repeat="special in event.specials">
                <li>{{special.item}} {{special.price}} ({{special.tags}})</li>
            </ul>
        </ul>    
    </ul>
</div>
